.company{
    padding-top: 10px;
  }
  .edit{
    background-color: #1e45a1;
    padding: 3%;
    border-radius: 10px;
    width: 30%;
    margin-top: 1em;
    margin-bottom:1em;
    color: white;
   }
   .center{   
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  ion-toolbar {
    --color: #ffffff;
    --background:#697184;
  }