<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" routerLink="/galaxyroute" style="font-size: 30px;"></ion-icon> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="container" align="center">
   <img src="https://www.freeiconspng.com/uploads/truck-icon-20.png" style="max-width: 17%; margin-top: -11px;">
   <h1 class="mt-3 text-blue" style="color:rgb(92, 92, 152);margin-top: -11px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 600;">Welcome !</h1>
   <h4 style="color:rgb(92, 92, 152);font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 600;" class="blue-text">You are 30 seconds away from completing your order!</h4>
  </div>
  <ion-list > 
    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">First Name</ion-label>     
    <ion-item class="ion-margin">    
        <ion-input appCapitalize placeholder="Enter First Name"  type="text" clearInput="true" [(ngModel)]="Firstname"></ion-input>
      </ion-item>

      <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Last Name</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appCapitalize placeholder="Enter Last Name" type="text" clearInput="true" [(ngModel)]="Lastname"></ion-input>
      </ion-item>

      <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Email</ion-label>
      <ion-item class="ion-margin">
    
        <ion-input appCapitalize placeholder="Enter Email Address" type="text" clearInput="true"  [(ngModel)]="Email"></ion-input>
      </ion-item>
      <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Mobile</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appCapitalize placeholder="Enter Phone Number" type="text" clearInput="true" [(ngModel)]="this.text.mobile"  [(ngModel)]="Phone"></ion-input>
    </ion-item>
    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">City</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appCapitalize placeholder="Enter City" type="text" clearInput="true"  [(ngModel)]="City"></ion-input>
    </ion-item>
    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Address</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appCapitalize placeholder="Enter Address" type="text" clearInput="true" [(ngModel)]="Address"></ion-input>
    </ion-item>
    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Pincode</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appCapitalize placeholder="Enter pincode" type="text" clearInput="true" [(ngModel)]="pincode" (ngModelChange)="getCityState()" ></ion-input>
    </ion-item>
    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">District</ion-label>
        <ion-item class="ion-margin">
  
      <ion-input appCapitalize placeholder="Enter pincode" type="text" clearInput="true" [(ngModel)]="State"   ></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">State</ion-label>
      <ion-item class="ion-margin">
        <ion-input aria-label="fruit"  [(ngModel)]="cityState"  placeholder="Please Select your state" autocomplete="off"></ion-input>

      </ion-item>
   <div class="center">
    <button  style="height: 50px;  font-size: 20px; border-radius:20px; margin-top:15px; width: 15em;background-color: #697184; color: white;margin-bottom: 15px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" expand="full" strong="true" type="submit"  [disabled]="this.Firstname==0||this.Lastname==0||this.Phone==0||this.Email==0||this.Address==0||this.State==0||this.pincode==0"   (click)="cash1()" >
      Continue to Pay 
     </button>   
   </div>
      
    </ion-list>

     
      

   


      

      



    

</ion-content>


