

<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-sharp" routerLink="/galaxyroute" style="font-size: 30px;" slot="start"></ion-icon>
    <!-- <h4>Checkout</h4> -->
    <!-- <div align="center">
    <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
      <ion-img src="/assets/Mile.png" style="width: 100px; "></ion-img>
     </div>
     </div> -->
     <ion-icon name="cart" style=" margin-top: 7px;
     font-size: 30px;
     margin-left: -17px;
     margin-right: 18px;" slot="end" routerLink="/cart"></ion-icon>
         <span class="number" style="font-size: 15px;
      font-weight: 700;
      margin-right: 6px;
      margin-left: -21px;
      margin-top: -12px;
      background-color: rgb(243, 64, 64);color:white;border-radius: 22%;width: 4%;text-align: center;" slot="end" routerLink="/cart">{{cartItem}} </span>
  </ion-toolbar>
</ion-header>

<ion-content>    

  <div class="container" align="center">
    <img src="https://www.freeiconspng.com/uploads/truck-icon-20.png" style="max-width: 17%; margin-top: -10px;">
    <h1 class="mt-3 text-blue" style="color:rgb(92, 92, 152);margin-top: -11px;font-weight: 600;">Welcome !</h1>
    <h4 style="color:rgb(92, 92, 152);font-weight: 600;" class="blue-text">You are 30 seconds away from completing your order!</h4>
  </div>

  <ion-list> 

    <ion-label style="margin-left: 7%;">First Name</ion-label>     
    <ion-item class="ion-margin">    
        <ion-input appCapitalize placeholder="Enter First Name"  type="text" clearInput="true" [(ngModel)]="Firstname"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">Last Name</ion-label>
    <ion-item class="ion-margin">    
        <ion-input appCapitalize placeholder="Enter Last Name" type="text" clearInput="true" [(ngModel)]="Lastname"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">Email</ion-label>
    <ion-item class="ion-margin">    
        <ion-input appCapitalize placeholder="Enter Email Address" type="text" clearInput="true"  [(ngModel)]="text.Email" readonly></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">Mobile</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appCapitalize placeholder="Enter Phone Number" type="text" clearInput="true" [(ngModel)]="text.mobile"  [(ngModel)]="Phone"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">City</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appCapitalize placeholder="Enter City" type="text" clearInput="true"  [(ngModel)]="City"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">Address</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appCapitalize placeholder="Enter Address" type="text" clearInput="true" [(ngModel)]="Address"></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;">Pincode</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appCapitalize placeholder="Enter pincode" type="text" clearInput="true" [(ngModel)]="pincode" (ngModelChange)="getCityState()" ></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">District</ion-label>
    <ion-item class="ion-margin">
      <ion-input appCapitalize placeholder="Enter pincode" type="text" clearInput="true" [(ngModel)]="State"   ></ion-input>
    </ion-item>

    <ion-label style="margin-left: 7%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">State</ion-label>
    <ion-item class="ion-margin">
      <ion-input aria-label="fruit"  [(ngModel)]="cityState"  placeholder="Please Select your state" autocomplete="off"></ion-input>
    </ion-item>
      
  </ion-list> 

  <div class="center">
    <button  style="height: 50px;  font-size: 20px; border-radius:20px; margin-top:15px; width: 15em;background-color: #697184; color: white;margin-bottom: 15px;" expand="full" strong="true" type="submit" (click)="cash1()" >
       Continue to Pay 
     </button>   
  </div>
      
 

</ion-content>


