<ion-header>
  <ion-toolbar >
<ion-buttons slot="start" >
<ion-menu-button style="color:white"  menu="main-menu"></ion-menu-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search..." [(ngModel)]="searchtext"></ion-searchbar>
  <div class="container">
    <ion-row>
      <ion-segment [scrollable]="true" value="home" >
  
      
        <ion-col>
          <ion-segment-button value="home" (click)="Get()">
            <ion-label>All Dealers</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="star" (click)="data3()">
            <ion-label>My Dealers</ion-label>
          </ion-segment-button>
        </ion-col>
     
       
      </ion-segment>
    </ion-row>
  </div> 

<div *ngIf="data4">
  <div *ngFor="let text of List1 | filter:searchtext">
  <ion-card>
    <ion-card-content style="border: 1px solid #a6a6a6;border-radius: 9px;">
<ion-card>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">First Name</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.Firstname}} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Last Name</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.Lastname}} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Phone</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.mobile}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">User Type</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.UserType}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">State</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.State}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">City</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.City}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Address</ion-col>
        <ion-col style="color: black;">:</ion-col>
        <ion-col>{{text.Street}}</ion-col>
      </ion-row>
      <ion-footer style="text-align: center;text-decoration: underline;color: rgb(62, 108, 194);">
        {{text.Email}}
       </ion-footer>
    </ion-card>
    </ion-card-content>
<h6 style="text-align: center;color:green">Contact Dealer
  <ion-icon name="call" style="font-size: large;color:#197a19; "></ion-icon></h6>
    <p>
      <a href="tel:{{text.mobile}}" style="margin-left: 140px;">{{text.mobile}}</a>
    </p>
  </ion-card>
  </div>
</div>
<div *ngIf="data">
  <div *ngFor="let text of array | filter:searchtext">
  <ion-card>
    <ion-card-content style="border: 1px solid #a6a6a6;border-radius: 9px;">
<ion-card>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">First Name</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.Firstname}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Last Name</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col> {{text.Lastname}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Phone</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.mobile}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Address</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.Street}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">User Type</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.UserType}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">State</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.State}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">City</ion-col>
      <ion-col style="color: black;">:</ion-col>
      <ion-col>{{text.City}}</ion-col>
    </ion-row>
    <ion-footer style="text-align: center;text-decoration: underline;color: rgb(70, 70, 212);">
      {{text.Email}}
     </ion-footer>
     <br>
    </ion-card>
    <button style="border: 1px solid #697184;color:#697184" (click)="dealer2(text)"  (click)="setOpen(true)" style="margin-left: 38%;" >Add</button>
  </ion-card-content>
<ion-alert [isOpen]="isAlertOpen"header="Alert"subHeader="Important message" message="Added Successfully"[buttons]="alertButtons"(didDismiss)="setOpen(false)"></ion-alert>

  </ion-card>
  </div>
</div>
</ion-content>



















