<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-sharp" routerLink="/inventory" style="font-size: 30px;" slot="start"></ion-icon>
    
    <div align="center">
      <h4>Edit Product</h4>
     </div> 
  

  </ion-toolbar>
</ion-header>

<ion-content> 
  
  <!-- <h1 style="text-align: center;"><b>EDIT PRODUCT</b></h1>      -->
  <form [formGroup]="productForm">
    <hr>
    <ion-list style="padding-left: 2.5%;">                     
       
          <ion-label ><b>S.NO :</b></ion-label><br>
          <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
          <ion-input type="text" appFirstCap   readonly formControlName="prodId" [(ngModel)]="data.prodId" name="Number"></ion-input>   
        </ion-item>
        <br>

          <ion-label ><b>Name of Product :</b></ion-label><br>
          <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
          <ion-input type="text" appFirstCap  formControlName="name" [(ngModel)]="data.name"   name="Name"></ion-input>   
        </ion-item>
        <br>

          <ion-label ><b>Colour :</b></ion-label>
          <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
          <ion-input type="text" appFirstCap  formControlName="color" [(ngModel)]="data.color" name="color"></ion-input>    
        </ion-item>
        <br>

        <ion-label ><b>Size :</b></ion-label>   <i class="fa fa-question-circle-o" style="font-size:15px; color: rgb(102, 102, 232);"></i>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">              
        <ion-input type="text"  formControlName="size" [(ngModel)]="data.size" name="size"> </ion-input>                                                      
      </ion-item>
      <br>

        <ion-label ><b>Stone Size/Type :</b></ion-label><br>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input type="text"  formControlName="stone" [(ngModel)]="data.stone" name="stone"> </ion-input>                               
      </ion-item>
      <br>

        <ion-label ><b>Available Quantity :</b></ion-label><br>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input type="text"  formControlName="Quantity" [(ngModel)]="data.Quantity" name="Quantity"> </ion-input>                               
      </ion-item>
      <br>

        <ion-label ><b>Price/SFT :</b></ion-label><br>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input type="text"  formControlName="price" [(ngModel)]="data.price" name="price"> </ion-input>                               
      </ion-item>
      <br>

        <ion-label ><b>Thickness :</b></ion-label><br>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input type="text"  formControlName="thick" [(ngModel)]="data.thick" name="thick"> </ion-input>                               
      </ion-item>
      <br>

        <ion-label ><b>Quality :</b></ion-label><br>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input type="text"  formControlName="quality" [(ngModel)]="data.quality" name="quality"> </ion-input>  
      </ion-item>
      <br>

        <!-- <ion-label style="margin-left: 6%;"><b>Pincode</b></ion-label>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
         <ion-input class="box" appFirstCap placeholder="Enter pincode"   type="text" clear-input="true" formControlName="Pincode"></ion-input>
        </ion-item> -->
         
        <ion-label ><b>Location of stone :</b></ion-label>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
          
        <ion-input type="text" appFirstCap  formControlName="region" [(ngModel)]="data.region" name="region"></ion-input>
      </ion-item>
      <br>

        <ion-label ><b>Arrival Date :</b></ion-label>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input  formControlName="date" [(ngModel)]="data.date" name="date"> </ion-input>
      </ion-item>
      <br>

        <ion-label ><b>Manufacturer Name :</b></ion-label>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input  formControlName="manufacturername" [(ngModel)]="data.manufacturername" name="manufacturername"></ion-input> 
      </ion-item>
      <br>

        <ion-label ><b>Phone Number :</b></ion-label>
        <ion-item style="width: 90%;margin-left: 5%;height: 3em;">
        <ion-input  formControlName="PhoneNumber" [(ngModel)]="data.PhoneNumber" name="PhoneNumber"></ion-input> 
      </ion-item>
      <br>

        <ion-label ><b>Description :</b></ion-label>
        <ion-textarea appFirstCap type="text" style="margin-top: 7px; width: 90%;border-radius: 6px;height:8em;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);margin-left: 5%;" formControlName="description" [(ngModel)]="data.description" name="description"> </ion-textarea>
     
      <br>

      </ion-list>
        <div style="text-align: center;margin-bottom: 1em;">
          <ion-button type="submit" class="save" (click)="update(data._id)">Save</ion-button>
        </div>    
  </form> 

</ion-content>
