

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>
  <ion-content [fullscreen]="true">
  <span style="color:gray">Count:</span><span style="color:black;font-weight: 800;">{{count}}</span>
  <div class="panel-body"  *ngFor="let test of order| filter : searchtext ">  <br>                  
    <div *ngFor="let data of test.OrderData.OrderItems" >
  <ion-card>

    <img  src="{{data.imgurl}}"  class="card-img-top" style="height:11rem;width:100%" />
    <ion-card-header>
      
      <ion-card-title>Black Galaxy</ion-card-title>
      <ion-card-subtitle>₹90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>

  </ion-card>
</div>
</div>

</ion-content>
