<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content [fullscreen]="true">
    <ion-searchbar></ion-searchbar>
    <br>
    <div class="container">
      <ion-row>
        <ion-segment [scrollable]="true" value="home">
    
        
          <ion-col>
            <ion-segment-button checked value="home" (click)="placed()">
              <ion-label>New Orders</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col>
            <ion-segment-button value="star" (click)="inprogress()">
              <ion-label>Shipped</ion-label>
            </ion-segment-button>
          </ion-col>
       
          <ion-col>
            <ion-segment-button value="call" (click)="Shipped()">
              <ion-label>Delivered</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-segment>
      </ion-row>
    </div>

   <br>
  <span style="color:gray">Count:</span><span style="color:black;font-weight: 800;">{{count}}</span>
  <ion-col class="panel-body"  *ngFor="let test of order| filter : searchtext ">  <br>                  
    <ion-col *ngFor="let data of test.OrderData.OrderItems" >
      <ion-card style="border:
      1px solid #697184">
        <ion-card-subtitle style="   color: #2778c4;padding: 1%;">Order Id : {{test.OrderData.OrderId}}</ion-card-subtitle>
        <ion-card-subtitle style="   color: #2778c4;padding: 1%;">Placed On : {{data.date}}</ion-card-subtitle>
  <ion-card>
    <img  src="{{data.filePath}}"  class="card-img-top" style="height:11rem;width:100%" />
    <br>
    <br>
    <ion-card-title style="color:#385291;font-weight: 700;margin-left: 10%;">{{data.name}}</ion-card-title>
    <ion-card-header>
     
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Price</ion-col>
        <ion-col > : ₹{{data.price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Quantity</ion-col>
        <ion-col > : {{data.qnt}}</ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Status</ion-col>
        <ion-col > : {{data.OrderStatus}}</ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Total</ion-col>
        <ion-col > :₹  {{data.price *
          data.qnt}}</ion-col>
        
      </ion-row>
      
    
      <ion-row>
        <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Deliver To</ion-col>
        <ion-col [hidden]="data.OrderStatus == 'Delivered'"> : {{data.ApproximateTime}}</ion-col>
        
      </ion-row>
      <ion-card-title style="color:black;font-weight: 700;font-size: 20px;text-decoration: underline;">Shipping Details</ion-card-title>
      <br>

      <ion-row >
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{test.OrderData.Phone}}<br>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{test.OrderData.Address}},{{test.OrderData.pincode}},{{test.OrderData.State}}
        
  

      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="orders(data,test._id,data._id)"      aria-label="fruit"  [(ngModel)]="data.OrderStatus" class="form-label button" for="lastName" [hidden]="data.OrderStatus == 'Delivered'" style="margin-left: 30%;">Update Status</button>
     
    </ion-card-content>

  </ion-card>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 style="text-align: center;font-size: x-large;font-weight: 900;">Update Status</h1> 
        <br>
        <form [formGroup]="orderdata">
        <div class="row text-white"> 
            <div class="row text-white">
              <div class="col-md-12 mb-4">

                <select type="text" class=" form-control-lg" style="color:black; margin-left:5%;" [(ngModel)]="data.OrderStatus" formControlName="OrderStatus" name="OrderStatus"  >
                  <option value="Placed">Placed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                  <option value="Shipped">Shipped&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                  <option value="Delivered">Delivered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>                    
              </div>
            </div>  
            <div class="row text-white">
              <div class="col-md-12 mb-4">
                <label class="form-label" for="lastName" style="color:rgb(36, 36, 36);font-size: larger;margin-left: 18%;">Delivery Time:</label>
                <select type="text" class=" form-control-lg" style="color:black;margin-left:3%;" [(ngModel)]="data.ApproximateTime" formControlName="ApproximateTime" name="ApproximateTime"  >
                  <option value="Within 1week">Within 1week</option>
                  <option value="Within 5days">Within 5days</option>
                  <option value="Arriving Today">Arriving Today</option>
                </select>                    
              </div>
              <div class="mt-4 pt-2 text-center ">
                <button class="btn btn-secondary btn-lg" type="submit"  (click)="Update()">Update</button>
              </div>
            </div> 
        </div> 
      </form>       
      
      </div>
    </div>
  </div>
  </ion-card>
  
</ion-col>

</ion-col>

 
 





 
</ion-content>
