 ion-searchbar{
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    ::ng-deep{
        .searchbar-input-container{            
            .searchbar-input{ 
                border-radius: 20px;
                border: 1px solid #a0a0a8;
                //any style that you want to implement on your searchbar
            }
        }
    }   
}
ion-toolbar {
    --color: #ffffff;
    --background:#697184;
}

.add{
    height: 2em;
    width: 10em;
    float: right;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
    background-color: rgb(78, 74, 74);

}