<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-menu-button  style="color:white" menu="main-menu"></ion-menu-button>  
    </ion-buttons>
    <h4>My Orders</h4>

     <ion-icon name="cart" style=" margin-top: 7px;
     font-size: 30px;
     margin-left: -17px;
     margin-right: 18px;" slot="end" routerLink="/cart"></ion-icon>
         <span class="number" style="    font-size: 15px;
      font-weight: 700;
      margin-right: 6px;
      margin-left: -21px;
      margin-top: -12px;
      background-color: rgb(243, 64, 64);color:white;border-radius: 22%;width: 4%;text-align: center;" slot="end"
           routerLink="/cart">{{cartItem}} </span>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div class="container">
  <ion-searchbar placeholder= "Search...." [(ngModel)]="searchtext" name="array id" class="form-control"></ion-searchbar>

  <ion-row>
    <ion-segment [scrollable]="true" value="home">    
      <ion-col>
        <ion-segment-button (click)="Placed()">
          <ion-label>New Orders</ion-label>
        </ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button  (click)="Shipped()">
          <ion-label>Shipped</ion-label>
        </ion-segment-button>
      </ion-col>
   
      <ion-col>
        <ion-segment-button  (click)="Delivered()">
          <ion-label>Delivered</ion-label>
        </ion-segment-button>
      </ion-col>
    </ion-segment>
  </ion-row>
</div> 
<br> 


  <span style="color:gray">Count:</span><span style="color:black;font-weight: 800;">{{count}}</span>
<div class="panel-body"  *ngFor="let test of List  | filter : searchtext" >  <br>                  
  <div *ngFor="let data of test.OrderItems | filter : searchtext" >

<ion-card style="border: 1px solid #d9d9d9;">
  <ion-card-header>
    <ion-card-subtitle style="font-weight: 600;color: rgb(254, 119, 128);" >Order Id :{{test.OrderId}}</ion-card-subtitle>
    <br>
    <div class="center">
      <img src="{{data.filePath}}" style="height: 10%;width: 26%;"> 
    </div>  
    <div class="center">
      <ion-card-title style="font-weight: 600;">{{data.name}}</ion-card-title>
    </div>
    <ion-row>
      <ion-col style="color: black;margin-left: 19%;">Price</ion-col>
      <ion-col > : ₹{{data.price}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="color: black;margin-left: 19%;">Quantity</ion-col>
      <ion-col > : {{data.qnt}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="color: black;margin-left: 19%;">Total Price</ion-col>
      <ion-col > : ₹ {{data.price * data.qnt}}</ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col style="color: black;margin-left: 19%;">Status</ion-col>
      <ion-col > : {{data.OrderStatus}}</ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col style="color: black;margin-left: 19%;">Deliver To</ion-col>
      <ion-col>:&nbsp;{{test.Firstname}} {{test.Lastname}}</ion-col>
     
    </ion-row>
    <ion-card-title style="font-weight: 600;text-decoration: underline;text-align: center;">Address Details</ion-card-title>

<br>
   
      <ion-col style="text-align: center;">{{test.Address}},{{test.pincode}},{{test.State}}</ion-col>
      <br>
      <ion-col style="text-align: center;">{{test.Phone}}</ion-col><br>
      
   
  </ion-card-header>
  <ion-button fill="clear"style="margin-left: 100px; font-weight: 600;width:149px; " (click)="anu(data)">View details</ion-button>
</ion-card>
</div>
</div>

</ion-content> 