
<ion-header [translucent]="true">
  
  <ion-toolbar>

     <h1 style="text-align: center;font-weight: 800;font-size: xx-large;color: white; font-family: Poppins, sans-serif, Segoe UI, Tahoma, Geneva, Verdana">Login/Signin</h1>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list lines="none" class="ion-margin">
    
<br>
<br>
    <img    style="width: 38%;  margin-left: 120px;" 
    src="/assets/mile stone.png">
   
    <form #userPost="ngForm" [formGroup]="loginForm" >
      <label style="margin-left: 8%;">Email Address</label>
    <ion-item class="ion-margin">

      <ion-input  appCapitalize placeholder="Enter Email Address" type="text"  formControlName="email"></ion-input>
    </ion-item>
    <label style="margin-left: 8%;">Password</label>
    <ion-item class="ion-margin">
      <ion-input appCapitalize placeholder="Enter Password"  [type]="passwordType" clearInput="true" formControlName="password"></ion-input>
      
   
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
     
 
    </ion-item>

    </form>
      <ion-button  style="height: 50px;   border-radius: 10px; margin-top:20px;" expand="full" strong="true" type="submit" [disabled]="loginForm.value.email == '' || loginForm.value.password == ''"   (click)="loginSubmit()" >
        Login
      </ion-button>
      
      <a style="float:right;margin-top: 5px;" routerLink="/forgotpassword">forgot password?</a><br><br>
      <h5 style="text-align: center;">Login with mobile?&nbsp;<a href="/mobile-login">Login </a></h5> 
      <h5 style="text-align: center;">Don't have an account?&nbsp;<a href="/register">Register Now</a></h5>  
  
   
    </ion-list>
    
</ion-content>







































