<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <!--<ion-icon name="arrow-back-sharp" (click)="gototype()" style="font-size: 30px;"></ion-icon>-->
      <ion-title align="center"> SignUp/Login</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    &nbsp;&nbsp;<ion-label>Enter Your Mobile Number</ion-label><br>
   <br>
    <ion-item class="ion-margin" style="border:1px solid #697184">
      <small style="font-size: 15px;padding-right:3px;">+91</small>
      <ion-input   type="number"   clearInput="true" placeholder="Enter Mobile Number" max="10"  pattern="^((\\+91-?)|0)?[0-9]{10}$"></ion-input>
    </ion-item>
<br>
    <ion-label style="margin-left: 38px;"> Don't have an Account ? <span style="font-size: 20px;color:#697184;"><u>Signup</u></span></ion-label>
    <ion-button class="btn" color="#a13cd7;"  >Generate OTP</ion-button>

    <div id="sign-in-button"></div>
    
  </form>

  

</ion-content>


