* {
    margin: 0;
    padding: 0;
  
  }
  
  h1 {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    color: #939fab;
    font-weight: 600;
  }
  
  form {
    margin-top: 6rem;
  
    ion-button {
      display: block;
      margin-top: 3rem;
    }
  }
  .btn{
    background: #697184;
    height:50px ;
  }
  .genotp{
    
    margin-top: 110px;
    
  }
.header{
    background: #697184;
}
img{
 
    width: 250px;
    height: 130px;
  

}

ion-item {
  border: 1px solid var(--ion-color-light);
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  box-shadow: 0 6px 4px -4px var(--ion-color-medium);
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.circle {

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-1 {

  position: absolute;
  left: -23.42%;
  right: 75.35%;
  top: -2.04%;
  bottom: 80.47%;
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
}

.circle-2 {
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
  position: absolute;
  left: -2%;
  right: 50.93%;
  top: -11.48%;
  bottom: 86.91%;
}
.logo{
  margin-top: 7rem;
  }