    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" >
          <ion-icon name="arrow-back-sharp" style="font-size: 30px;" routerLink="/profile"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content has-header="true">

    <h3 style="text-align: center;font-size: x-large;" ><b>Add Your Company Details</b> </h3> 
    <br>

   <div class="form">
    
    <form  [formGroup]="Form">
      <div class="company">
      
      <ion-label style="margin-left:5%;"><b>Company Name :</b> </ion-label>
      <ion-input  style="width: 90%; margin-top: 7px;  height: 2em;border-radius: 5px;border: 1px solid rgb(87, 84, 84);margin-left: 5%;" formControlName="Company" [(ngModel)]="text.Company" name="Company" readonly/><br>                   

      <ion-label style="margin-left:5%; "><b>Company Location/Address :</b> </ion-label>
      <ion-textarea type="text" style="width: 90%;margin-top: 7px;border-radius: 6px;height:5em;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);margin-left: 5%;" formControlName="Location" placeholder="Add your company location"> </ion-textarea> 
       <br>                  
                
      <ion-label style="margin-left:5%;"><b>Company Bio :</b></ion-label><br>
      <ion-textarea type="text" style="width: 90%;border-radius: 6px;height:8em;margin-top: 7px;border: 1px solid rgb(87, 84, 84);margin-left: 5%;" formControlName="bio"  placeholder="Please write few words about your company history, and bussiness offerings" ></ion-textarea><br>                   
       <br>

      <div class="center">
        <button style="height:18%;width: 70%;background-color: #697184;border-radius: 10px;border:0;color:white;margin-left: 15%;padding: 5px;font-size: large;" class="button"  (click)="submit()"><b>Submit</b></button>
      </div>
    </div>
    </form> 
  </div>
  
</ion-content>

