
<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-sharp" routerLink="/inventory" style="font-size: 30px;" slot="start"></ion-icon>
   
    <div align="center">
    <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
      <ion-img src="/assets/Mile.png" style="width: 100px;margin-left: -25%; "></ion-img>
     </div>
     </div>
  

  </ion-toolbar>
</ion-header>
  <ion-content [fullscreen]="true">

    <h1 style="text-align: center;"><b>ADD PRODUCT</b></h1>
    <form [formGroup]="productForm">
    <hr>                                                                                                      
  <ion-list style="padding-left: 2.5%;">    
   <ion-input type="hidden" style="margin-top: -45px;" formControlName="qnt"></ion-input>
    <ion-label style="margin-top: -30px;" ><b>Upload image :</b></ion-label><br>
    <ion-input type="file" style=" width: 97%;border-radius: 6px;border:1px solid #c2c5ca;margin-bottom: 1em;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);padding: 5%;"  (change)="selectImage($event)"  placeholder=" upload your image url"></ion-input>
    
    <ion-label ><b>S.NO :</b></ion-label><br>
    <ion-input type="text" appFirstCap style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);padding: 5%;" formControlName="prodId" placeholder=" Enter your product ID"> </ion-input>                                         
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.prodId.errors?.required" style="color: red;">
     S.no is required.
     </span>
     <br>

    <ion-label ><b>Name of product :</b></ion-label>
      <ion-select formControlName="name" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" class="fa fa-caret-down" placeholder="Select name of product &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
      <ion-select-option value="Absolute Black">Absolute Black</ion-select-option>
      <ion-select-option value="Alaska  White">Alaska White</ion-select-option>
      <ion-select-option value="Amazon White">Amazon White</ion-select-option>
      <ion-select-option value="Aspen White">Aspen White</ion-select-option>
      <ion-select-option value="ASTORIA">ASTORIA</ion-select-option>
      <ion-select-option value="Bass Paradise">Bass Paradise</ion-select-option>
      <ion-select-option value="Black Forest">Black Forest</ion-select-option>
      <ion-select-option value="Black Galaxy">Black Galaxy</ion-select-option>
      <ion-select-option value="Black Maranach">Black Maranach</ion-select-option>
      <ion-select-option value="Black Pearl">Black Pearl</ion-select-option>
      <ion-select-option value="Black Pearl-Z">Black Pearl-Z</ion-select-option>
      <ion-select-option value="Blue Dunes">Blue Dunes</ion-select-option>
      <ion-select-option value="Blue Flower">Blue Flower</ion-select-option>
      <ion-select-option value="Blue Pearl">Blue Pearl</ion-select-option>
      <ion-select-option value="Brass Blue">Brass Blue</ion-select-option>
      <ion-select-option value="C.R White">C.R White</ion-select-option>
      <ion-select-option value="China White">China White</ion-select-option>
      <ion-select-option value="Classic Paradiso">Classic Paradiso</ion-select-option>
      <ion-select-option value="Coffee Brown">Coffee Brown</ion-select-option>
      <ion-select-option value="Colonial Gold">Colonial Gold</ion-select-option>
      <ion-select-option value="COLONIAL WHITE">COLONIAL WHITE</ion-select-option>
      <ion-select-option value="Coral Brown">Coral Brown</ion-select-option>
      <ion-select-option value="Coral Gold">Coral Gold</ion-select-option>
      <ion-select-option value="Cream Cashmere">Cream Cashmere</ion-select-option>
      <ion-select-option value="Dakota Brown">Dakota Brown</ion-select-option>
      <ion-select-option value="Emarald Pearl">Emarald Pearl</ion-select-option>
      <ion-select-option value="Fareast White">Fareast White</ion-select-option>
      <ion-select-option value="Flash Blue">Flash Blue</ion-select-option>
      <ion-select-option value="Goura Brown">Goura Brown</ion-select-option>
      <ion-select-option value="ICE SPARKLE">ICE SPARKLE</ion-select-option>
      <ion-select-option value="Ivory Gold">Ivory Gold</ion-select-option>
      <ion-select-option value="Ivory White">Ivory White</ion-select-option>
      <ion-select-option value="K.Black">K.Black</ion-select-option>
      <ion-select-option value="Kuppam White">Kuppam White</ion-select-option>
      <ion-select-option value="Lavender Blue">Lavender Blue</ion-select-option>
      <ion-select-option value="Moon White">Moon White</ion-select-option>
      <ion-select-option value="Pagasus">Pagasus</ion-select-option>
      <ion-select-option value="Pink Grey">Pink Grey</ion-select-option>
      <ion-select-option value="Prada Gold">Prada Gold</ion-select-option>
      <ion-select-option value="River White">River White</ion-select-option>
      <ion-select-option value="Royal Blue">Royal Blue</ion-select-option>
      <ion-select-option value="Sadarhalli Grey">Sadarhalli Grey</ion-select-option>
      <ion-select-option value="SALUR WHITE">SALUR WHITE</ion-select-option>
      <ion-select-option value="Sapphire Blue">Sapphire Blue</ion-select-option>
      <ion-select-option value="Silver Waves">Silver Waves</ion-select-option>
      <ion-select-option value="Spice Black">Spice Black</ion-select-option>
      <ion-select-option value="Steel Grey">Steel Grey</ion-select-option>
      <ion-select-option value="STREAM WHITE">STREAM WHITE</ion-select-option>
      <ion-select-option value="Super White">Super White</ion-select-option>
      <ion-select-option value="Surf Green">Surf Green</ion-select-option>
      <ion-select-option value="Tan Brown">Tan Brown</ion-select-option>
      <ion-select-option value="Thunder White">Thunder White</ion-select-option>
      <ion-select-option value="Viscount White">Viscount White</ion-select-option>
      <ion-select-option value="VizagBlue">Vizag Blue</ion-select-option>

    </ion-select> 
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required" style="color: red;">
      Name is required.
     </span>
     <br>

    <ion-label ><b>Colour :</b></ion-label>
    <ion-input type="text" appFirstCap appFirstCap style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="color" placeholder=" Enter your product colour"> </ion-input>                   
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.color.errors?.required" style="color: red;">
      Colour is required.
     </span>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.color.errors?.pattern" style="color: red;">
      Only alphabet values allowed.
     </span>
     <br>

    <ion-label ><b>Size :</b></ion-label><i class="fa fa-question-circle-o" style="font-size:15px; color: rgb(102, 102, 232);" ></i>               
    <ion-input appFirstCap type="text" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="size" placeholder=" product size in lxb" > </ion-input>                                                   
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.size.errors?.required" style="color: red;">
     Size is required.
     </span>
     <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.size.errors?.pattern" style="color: red;">
      Only numerical values allowed.
     </span> -->
     <br>

    <ion-label ><b>Available Quantity :</b></ion-label><i class="fa fa-question-circle-o" style="font-size:15px; color: rgb(102, 102, 232);" ></i>               
    <ion-input appFirstCap type="text" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="Quantity" placeholder=" product quantity"> </ion-input> 
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Quantity.errors?.required" style="color: red;">
      Quantity is required.
     </span>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Quantity.errors?.pattern" style="color: red;">
      Only numerical values allowed.
     </span>
     <br>

    <ion-label ><b>Thickness :</b></ion-label><br>               
    <ion-select  formControlName="thick" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" placeholder="select product thickness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
      <ion-select-option  value="3Cm">3Cm</ion-select-option>
      <ion-select-option  value="2Cm">2Cm</ion-select-option>
    </ion-select>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.thick.errors?.required" style="color: red;">
     Thickness is required.
     </span>
     <br>

    <ion-label ><b>Stone Size/Type :</b></ion-label><br>
    <ion-select  formControlName="stone" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" placeholder="select product type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
      <ion-select-option  value="Gangsaw Size">Gangsaw Size</ion-select-option>
      <ion-select-option  value="Cutter Size">Cutter Size</ion-select-option>
    </ion-select>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.stone.errors?.required" style="color: red;">
     Stone type is required.
     </span>
     <br>
    
    <ion-label ><b>Quality :</b></ion-label><br>
    <ion-select  formControlName="quality" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" placeholder="select product quality &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
      <ion-select-option  value="Premiun">Premium</ion-select-option>
      <ion-select-option  value="Commercial">Commercial</ion-select-option>
      <ion-select-option  value="Standerd">Standard</ion-select-option>
    </ion-select>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.quality.errors?.required" style="color: red;">
      Product Quality is required.
     </span>
     <br>
    
    <ion-label ><b>Price/SFT :</b></ion-label>
    <ion-input type="text" appFirstCap style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="price" placeholder=" Enter your product price"></ion-input>                       
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.price.errors?.required" style="color: red;">
      Price is required.
     </span>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.price.errors?.pattern" style="color: red;">
      Only numerical values allowed
     </span>
     <br>

    <ion-label ><b>Location of stone :</b></ion-label>
    <ion-input appFirstCap type="text"  style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="region" placeholder=" Enter your product location"></ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.region.errors?.required" style="color: red;">
      Location of stone is required.
     </span>
     <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.region.errors?.pattern" style="color: red;">
      Only alphabet values allowed.
     </span> -->
     <br>

    <ion-label ><b>Arrival Date :</b></ion-label>
    <ion-input type="date" min="{{this.TodayDate}}" style="margin-top: 7px; width: 97%;height:2em;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="date" placeholder=" Enter processing date">  </ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required" style="color: red;">
     Date is required.
     </span>
     <br>

    <ion-label ><b>Manufacturer Name :</b></ion-label>
    <ion-input appFirstCap type="text"  style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="manufacturername" placeholder=" Enter your name"></ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.manufacturername.errors?.required" style="color: red;">
     Your name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.manufacturername.errors?.pattern" style="color: red;">
      Only alphabet values allowed.
     </span>
    <br>

    <ion-label ><b>Phone Number :</b></ion-label>
    <ion-input type="text" style="margin-top: 7px; width: 97%;border-radius: 6px;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="PhoneNumber" placeholder=" Enter your PhoneNumber"> </ion-input> 
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.PhoneNumber.errors?.required" style="color: red;">
      Mobile number is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.PhoneNumber.errors?.pattern" style="color: red;">
      Please, Enter 10 digit mobilenumber.
    </span>
    <br>

    <ion-label ><b>Description :</b></ion-label>
    <textarea appFirstCap type="text" style="margin-top: 7px; width: 97%;border-radius: 6px;height:10em;border:1px solid #c2c5ca;box-shadow: 1px 1px 1px 1px rgb(182, 179, 179);" formControlName="description" placeholder="Write few lines about your product"> </textarea> 
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required" style="color: red;">
      Description is required.
    </span>
    <br>

    <ion-input type="hidden" class="form-control form-control-lg" formControlName="mobile" [(ngModel)]= "text.mobile" >  </ion-input>
  </ion-list>

</form> 
    <div style="text-align: center;margin-bottom: 1em;margin-top: -2em;">
      <ion-button type="submit" (click)="onClick()">Submit</ion-button>
   </div>  

</ion-content>

 



