<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" routerLink="/login" style="font-size: 30px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!-- <div class="form-gap"></div> -->

<div class="container">
 
  <form [formGroup]="Form">
		<div class="col-md-6 col-md-offset-6" >
      <div class="panel-body">
        <img style = "align-items: center; margin-top: -25%;" src = "/assets/Mile.png">
        <div class="text-center" style="margin-top: -15%;">
            <h3 style="color:#697184;font-weight: bold;margin-top: -5%;">Forgot Password?</h3><br>
            <h4 style="margin-top: -5%;">Verify your Email here.</h4>
             <br> 
            <div class="input-group">
              <span class="input-group-addon" style="border:1px solid rgb(89, 88, 88)"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

              <input id="email" name="email" placeholder="Email Address" class="form-control" style="border:1px solid rgb(89, 88, 88);height: 3.5em;" formControlName="Email" type="email">
            </div>
            <br>
            <div>
              <button (click)="submit()" type="submit" class="submit">Verify Email</button>
            </div>               
        </div>
      </div>
    </div>
  
  </form>
</div>

</ion-content>
