<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" routerLink="/login" style="font-size: 30px;"></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>

<div class="container">
  <form [formGroup]="Form">
		<div class="col-md-6 col-md-offset-6" style="margin-top: 30%;">
      <div class="panel-body">
        <div class="text-center">
            <h1 class="text-center" style="color:#697184;font-weight: bold;">Forgot Password?</h1><br>
            <h3>Verify your Email here.</h3>
              
            <div class="input-group">
              <span class="input-group-addon" style="border:1px solid rgb(89, 88, 88)"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
              <input id="email" name="email" placeholder="Email Address" class="form-control" style="border:1px solid rgb(89, 88, 88)" formControlName="Email" type="email">

            </div>
            <div>
              <button (click)="submit()" type="submit" class="submit">Verify Email</button>
            </div>               
        </div>
      </div>
    </div>
  
  </form>
</div>

</ion-content>
