<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>raw-product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">   
  <ion-grid>
      <ion-searchbar></ion-searchbar>
    <ion-row *ngFor="let raw of products">
      <ion-col size="6">
       <ion-card style="height: 95%;">
          <img  src= "{{raw.Image}}">
         <div><b>Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>{{raw.Number}}</div>
         <div><b>Name : </b>{{raw.Name}}</div>
         <button class="view" (click)="view(raw)">View</button>
        </ion-card>         
      </ion-col>              
    </ion-row>      
  </ion-grid>
</ion-content>
