
ion-toolbar {
    --color: #ffffff;
    --background:#697184;
  }
  ion-searchbar{
    
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    ::ng-deep{
        .searchbar-input-container{            
            .searchbar-input{ 
                border-radius: 20px;
                border: 1px solid #a0a0a8;
                //any style that you want to implement on your searchbar
            }
        }
    }   
  }
.view{
    height: 1.5em;
    width: 5em;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 30px;
    background-color: gray;

}
.add{
    height: 2.3em;
    width: 10em;
    float: right;
    color: white;
    border-radius: 5px;
 padding: 2%;
    text-align: center;
    background-color: #697184;
}

button{   
    border: 1px solid #697184;
    float: right;
    padding: 3%;
    border-radius: 10px;
    width: 31%;
    color:#697184;
    margin-left: 11%;
    margin: 3%;
}
button:hover{
    background-color: #697184;
    color: white;
}