.form-gap {
    padding-top: 70px;
}

ion-toolbar {
    --color: #ffffff;
    --background:#697184;
  }

.submit{
    height: 2.5em;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #697184;
    margin-top: 5%;    
}