<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" routerLink="/forgotpassword" style="font-size: 30px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <div class="form-gap"></div>
  
  <div class="container">
    <form [formGroup]="Form">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
              <h2 class="text-center">Update Password!</h2>
              <p>You can reset your password here.</p>
                
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                <input id="email" name="email" placeholder="email address" formControlName="Email" class="form-control" type="email">
              </div>
              <br>
              
              <div class="input-group">
                <span class="input-group-addon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input id="password" name="password" placeholder="password" formControlName="Password" class="form-control" type="password">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                  <input id="confirm password" name="confirm password"  placeholder="confirm password" class="form-control" type="password">
                </div>
                <div>
                <button (click)="submit()" type="submit" class="submit">Update Password</button>
              </div>               
          </div>
        </div>
      </div>  
    </form>
  </div>
  </ion-content>
