
<ion-header>
  <ion-toolbar >
<ion-buttons slot="start" >
<ion-menu-button style="color:white" menu="main-menu"></ion-menu-button>
<div style="text-align: center;">
  <img style="width:25%;margin-left: -18%;" src="/assets/mistlogo.png">
</div>
</ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="searchtext"></ion-searchbar>
<button [hidden]= "aa == 'Dealer'" routerLink="/add-shipper" style="margin-left:60%;background-color: #697184;color: white;" class="add">Add Shipper</button>
<ion-content>
<div *ngFor="let data of shippers | filter : searchtext">
  <ion-list>
    <ion-card style="border-radius: 9px;border: 1px solid #697184;">
       <ion-row>
         <ion-col style="color: #697184;font-size: large;font-weight: 700;">Shipper Name</ion-col>
         <ion-col style="color: black;font-size: large;"> : {{data.Name}}</ion-col>
       </ion-row>
      <ion-row>
        <ion-col style="color: #697184;font-size: large;font-weight: 700;">Mobile</ion-col>
        <ion-col style="color: black;font-size: large;"> : {{data.Mobile}}</ion-col>
      </ion-row><br>
      <button (click)="description(data)" style="margin-left: 33%;background-color: #697184;color: white;">
        View more details
       </button>
   </ion-card>
    </ion-list>

<!-- </ion-card> -->

</div>

</ion-content>