// img {
//     width: 250px;
//     -webkit-filter: drop-shadow(5px 5px 5px #737375);
//     filter: drop-shadow(5px 5px 5px  #737375);
//   }
  .spinner {
    display: flex;
    justify-content: center;
    transform: scale(3);
    margin-top: 500px;
    size: 0.3;

}
