<ion-content>

  <!--   
    <div class="circle-container">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
    </div> -->
  
    <div align="center" style="text-align:center; margin-top: 200px;">
      <img style="width:200px;" src="/assets/mile stone.png">
     </div>
  
  
     
     <div class="spinner" *ngIf="!spin" style="size: 0.5;" style="margin-top: -10px;">
      <ion-spinner name="bubbles" style="color:#697184"></ion-spinner>
      </div>
   
     
  </ion-content>