<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-menu-button  style="color:white" menu="main-menu"></ion-menu-button>  
    </ion-buttons>
    <h4>Profile</h4>

    <!-- <div align="center">
    <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
      <ion-img src="/assets/Mile.png" style="width: 100px; "></ion-img>
     </div>
     </div>  -->

  </ion-toolbar>
</ion-header>
   
<ion-content has-header="true">
  <div id="content">
    <div id="profile-info">
      <div class="center">
        <img id="profile-image"  class="image" src="{{text.filePath}}">
      </div>
       <!--  <div class="center" style="font-size: x-large;position: relative;margin-top: -30px;margin-left: 21%;">
        <label for="file"><ion-icon name="camera-sharp" style="color:#697184" (change)="selectImage($event)" id="file"></ion-icon></label>
        </div> 
             <button (click)="onClick()"></button>   -->
        <div class="image">
          <label for="file"><ion-icon name="camera-sharp" style="font-size: x-large;position: relative;margin-top: -50px;margin-left: 21%;"></ion-icon></label>
          <input type="file"(change)="selectImage($event)" name="" id="file" style="display:none; visibility: none; margin-top: -50px;" > 
          <button (click)="onClick()"></button>  
        </div>      
      <br>
     
      <div class="edit" >
        <button style="margin-left: -8px;border:1px solid #697184;padding: 2%;border-radius: 10px;background-color:#697184;color:white" (click)="edit(text)">Edit</button>
      </div>
      <h3 id="profile-name">{{text.Firstname}}{{text.Lastname}}</h3>
      <span id="profile-description"><a>{{text.Email}}</a>
      </span>
    </div>
    <ion-list>
      <ion-item ng-repeat="post in posts">
        <div class="post-time">Mobile &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{text.mobile}}</div>
      </ion-item>
      <ion-item ng-repeat="post in posts">
        
       
        <div class="post-time">User Type &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{text.UserType}}</div>
        <div class="post-options">
          <i class="icon-reply"></i>
          <i class="icon-shuffle"></i>
        </div>
      </ion-item>

            
        <ion-row style="font-size: 1em;color:rgb(233, 117, 117);margin-left: 3%;margin-bottom: 8px;">Address</ion-row>
          
        <ion-row style="margin-left: 3%;"> {{text.Street}},{{text.City}},{{text.State}},{{text.Pincode}}</ion-row>
    
      <div class="center" *ngIf="text.Location == null || text.Location ==''">
        <button style="width: 70%;margin-top: 1em;padding:2%;border:1px solid #697184;border-radius: 10px;margin-left: 15%;background-color:#697184;color:white" class="button"  routerLink="/companydetails"><b>Add your Company Details</b></button>
      </div>
   
        <div *ngIf="text.Location">
        <ion-list>
          <ion-item ng-repeat="post in posts">  
       
            <div class="post-time" style="text-decoration: underline;font-size: x-large;color:rgb(233, 117, 117)">Company Details  </div>
            <div class="post-options">
              <i class="icon-reply"></i>
              <i class="icon-shuffle"></i>
            </div>
        </ion-item>
        <ion-item ng-repeat="post in posts">
        
       
          <div class="post-time">Company Name &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{text.Company}}</div>
          <div class="post-options">
            <i class="icon-reply"></i>
            <i class="icon-shuffle"></i>
          </div>
        </ion-item>
        <ion-item ng-repeat="post in posts">
        
       
          <div class="post-time">Company Location  &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; {{text.Location}}</div>
          <div class="post-options">
            <i class="icon-reply"></i>
            <i class="icon-shuffle"></i>
          </div>
        </ion-item>
      
      </ion-list>
      <ion-row style="font-size: 1em;color:rgb(233, 117, 117);margin-left: 3%;margin-bottom: 8px;">Company Bio</ion-row>
          
      <ion-row style="margin-left: 3%;">{{text.bio}}</ion-row>
     
    <!-- <ion-item ng-repeat="post in posts">
        
       
      <div class="post-time" style="text-decoration: underline;font-size: x-large;color:rgb(233, 117, 117)">Company Bio  </div>
      <div class="post-options">
        <i class="icon-reply"></i>
        <i class="icon-shuffle"></i>
      </div>
  </ion-item>
  <p style="margin-left: 7%;"> {{text.bio}}</p> -->
  </div>
    </ion-list>
    
  </div>


  
</ion-content>