.edit{
    height: 2em;
    width: 3.5em;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(67, 67, 236);
}
.delete{
    height: 2em;
    width: 3.5em;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    background-color: red;
}

ion-toolbar {
    --color: #ffffff;
    --background:#697184;
}
