
<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" routerLink="/inventory" style="font-size: 30px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
<ion-card  >
  <img alt="Silhouette of mountains" src="{{data.filePath}}" style="max-width:64%; margin-left: 67px;" />
  <ion-card-header>
    <ion-card-title style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700; margin-left: 82px;">{{data.name}}</ion-card-title>
    <ion-card-subtitle style=" font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 600 ;margin-left: 82px;">Price(sft): ₹{{data.price}}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-list>
    <ion-card style="border-radius: 6px;">
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">S.No</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">{{data.prodId}}</ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Color</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.color}}</ion-col>
  </ion-row>
</ion-card>
  
  <ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Size</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.size}}</ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Thickness</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.thick}}</ion-col>
  </ion-row>
</ion-card>
 
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Available Quantity</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.Quantity}}</ion-col>
  </ion-row>
</ion-card>
  
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Quality</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.quality}}</ion-col>
  </ion-row>
</ion-card>
  
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Stone type</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.stone}}</ion-col>
  </ion-row>
</ion-card>
  
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Region</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.region}}</ion-col>
  </ion-row>
</ion-card>
 
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Manufacturer</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.manufacturername}}</ion-col>
  </ion-row>
</ion-card>
 
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Phone Number</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.PhoneNumber}}</ion-col>
  </ion-row>
</ion-card>
<ion-card>
  <ion-row>
    <ion-col style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: black;">Description</ion-col>
    <ion-col style="color: black;">:</ion-col>
    <ion-col>{{data.description}}</ion-col>
  </ion-row>
</ion-card>
<div style="margin-left: 38%;">
  <button class="edit" (click)="edit(data)">Edit</button>
  <button class="delete" (click)="delete(data.prodId)">Delete</button>
</div>
  
</ion-list>

</ion-card>

</ion-content>
