.form-gap {
    padding-top: 70px;
}

ion-toolbar {
    --color: #ffffff;
    --background:#697184;
  }

.submit{
    height: 2.5em;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #697184;
    margin-top: 5%;    
}

* {
    margin: 0;
    padding: 0;
  
  }
  
  h1 {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    font-weight: 600;
    color:#754141;
    font-size: 20px;
  }
  
  form {
    margin-top: 6rem;
  }
  .btn{
    background: #697184;
    height:50px ;
    width: 98%;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  .center{   
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 5%; 
  }
.header{
    background: #697184;
}


ion-item {
  border: 1px solid var(--ion-color-light);
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  box-shadow: 0 6px 4px -4px var(--ion-color-medium);
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.circle {

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-1 {

  position: absolute;
  left: -23.42%;
  right: 75.35%;
  top: -2.04%;
  bottom: 80.47%;
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
}

.circle-2 {
  background-color: rgba(248, 150, 34, 0.27);
  /* change this to the color you want */
  position: absolute;
  left: -2%;
  right: 50.93%;
  top: -11.48%;
  bottom: 86.91%;
}
.logo{
  margin-top: 7rem;
  }

  .center{   
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  img {
    width: 250px;
    -webkit-filter: drop-shadow(5px 5px 5px #a5a5a5);
    filter: drop-shadow(5px 5px 5px #989898);
  }