<ion-header>
  <ion-toolbar >
    <ion-icon name="arrow-back-sharp" routerLink="/login" style="font-size: 30px;" slot="start"></ion-icon>
   
    <div align="center">
    <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
      <ion-img src="/assets/Mile.png" style="width: 100px; "></ion-img>
     </div>
     </div> 

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  
  <div class="center">
    <img  style="width:60%;" src="/assets/image.png">
  </div>
  <h3>Please verify your mobile number</h3>
  <br>
  
    &nbsp;&nbsp;<ion-label>Enter Your Mobile Number</ion-label><br>
   <br>
    <ion-item class="ion-margin" style="border:1px solid #697184">
      <small style="font-size: 15px;padding-right:3px;">+91</small>
      <ion-input   type="number" clearInput="true" [(ngModel)]="mobile1" [ngModelOptions]="{standalone: true}" placeholder="Enter Mobile Number" max="10"  pattern="^((\\+91-?)|0)?[0-9]{10}$"></ion-input>

    </ion-item>
    <br>
   
    <div class="center">
      <ion-button (click)="mobileOtp()" [disabled]="mobile1 == null"><h4>Generate OTP</h4></ion-button>
    </div>
    <br>
    <ion-label style="margin-left: 38px;margin-top: 2em;"> Don't have an Account ? <a style="font-size: 20px;" routerLink="/register"><u>Signup</u></a></ion-label>
    
    <div id="sign-in-button"></div>
   
</ion-content>