
<ion-header [translucent]="true">
  <ion-toolbar>

 
    <ion-icon name="arrow-back-sharp" routerLink="/login" style="font-size: 30px;"></ion-icon>


  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div class="circle-container">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
    </div>
  <ion-list lines="none" class="ion-margin">

    <img    style="width: 38%;  margin-left: 120px;" 
    src="/assets/mile stone.png">
  
    <form #userPost="ngForm" [formGroup]="SignupForm" >
     
      <ion-label style="margin-left: 6%;">First Name</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap  placeholder="Enter First Name"  type="text" clearInput="true" formControlName="Firstname"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Firstname.errors?.required" style="color: red;">
        Firstname name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Firstname.errors?.pattern" style="color: red;">
        Only alphabets allowed.
      </span>
       <br>
  
      <ion-label style="margin-left: 6%;">Last Name</ion-label>
      <ion-item class="ion-margin">    
        <ion-input  appFirstCap  placeholder="Enter Last Name" type="text" clearInput="true" formControlName="Lastname"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.required" style="color: red;">
        Lastname is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.pattern" style="color: red;">
        Only alphabets allowed.
      </span>
       <br>

      <ion-label style="margin-left: 6%;">Phone Number</ion-label>
    <ion-item class="ion-margin">  
      <ion-input  appFirstCap placeholder="Enter Phone Number" type="text" clearInput="true" formControlName="mobile"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required" style="color: red;">
      PhoneNumber is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.pattern" style="color: red;">
    Please, Enter 10 digit mobile number.
    </span>
     <br>

      <ion-label style="margin-left: 6%;">Email Address</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap placeholder="Enter Email Address" type="text" clearInput="true" formControlName="Email"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Email.errors?.required" style="color: red;">
       Email is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Email.errors?.email" style="color: red;">
       Please, provide a valid email address.
      </span>
     <br>
   
      <ion-label style="margin-left: 6%;">Password</ion-label>
      <ion-item class="ion-margin">
        <ion-input appCapitalize placeholder="Enter Password" [type]="passwordType"  formControlName="Password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
     
    </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password.errors?.required" style="color: red;">
        Password is required.
       </span>
       <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password.errors?.minLength" style="color: red;">
        Password should be min 6.
       </span>
     <br>

    <ion-label style="margin-left: 6%;">City</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter City" type="text" clearInput="true" formControlName="City"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.City.errors?.required" style="color: red;">
      City is required.
     </span>   
    <br>

    <ion-label style="margin-left: 6%;">Street</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter Address" type="text" clearInput="true" formControlName="Street"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Street.errors?.required" style="color: red;">
      Street is required.
     </span>
     <br>

    <ion-label style="margin-left: 6%;">Pincode</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appFirstCap placeholder="Enter pincode"   type="text" clearInput="true"   formControlName="pincode"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pincode.errors?.required" style="color: red;">
      Pincode is required.
     </span>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pincode.errors?.minLength" style="color: red;">
      Pincode should be 5 digits long.
     </span>
     <br>

    <ion-label style="margin-left: 6%;">Company</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter Company Name" type="text" clearInput="true" formControlName="Company"></ion-input>
    </ion-item><span class="error ion-padding" *ngIf="isSubmitted && errorControl.Company.errors?.required" style="color: red;">
      Company is required.
     </span>
     <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Company.errors?.minLength" style="color: red;">
      Password should be min 6.
     </span> -->
     <br>   
   
    <ion-label style="margin-left: 6%;">State</ion-label>
      <ion-item class="ion-margin">
        <ion-select aria-label="fruit" formControlName="State" placeholder="Please Select your state" autocomplete="off">
          <ion-select-option value="">--Select--</ion-select-option>
          <ion-select-option value="Andhra Pradesh">Andhra Pradesh</ion-select-option>
          <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
          <ion-select-option value="Assam">Assam</ion-select-option>
          <ion-select-option value="Bihar">Bihar</ion-select-option>
          <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
          <ion-select-option value="Goa">Goa</ion-select-option>
          <ion-select-option value="Gujarat">Gujarat</ion-select-option>
          <ion-select-option value="Haryana">Haryana</ion-select-option>
          <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
          <ion-select-option value="Jammu & Kashmir">Jammu & Kashmir</ion-select-option>
          <ion-select-option value="Jarkhand">Jarkhand</ion-select-option>
          <ion-select-option value="Karnataka">Karnataka</ion-select-option>
          <ion-select-option value="Kerala">Kerala</ion-select-option>
          <ion-select-option value="Madya Pradesh">Madya Pradesh</ion-select-option>
          <ion-select-option value="Maharastra">Maharastra</ion-select-option>
          <ion-select-option value="Manipur">Manipur</ion-select-option>
          <ion-select-option value="Meghalaya">Meghalaya</ion-select-option>
          <ion-select-option value="Mizoram">Mizoram</ion-select-option>
          <ion-select-option value="Nagaland">Nagaland</ion-select-option>
          <ion-select-option value="Odisha">Odisha</ion-select-option>
          <ion-select-option value="Panjab">Panjab</ion-select-option>
          <ion-select-option value="Rajastan">Rajastan</ion-select-option>
          <ion-select-option value="Sikkim">Sikkim</ion-select-option>
          <ion-select-option value="Tamil Nadu">Tamil Nadu</ion-select-option>
          <ion-select-option value="Telangana">Telangana</ion-select-option>
          <ion-select-option value="Tripura">Tripura</ion-select-option>
          <ion-select-option value="UttarPradesh">Uttar Pradesh</ion-select-option>
          <ion-select-option value="West Bengal">West Bengal</ion-select-option>
        </ion-select>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.State.errors?.required" style="color: red;">
        State is required.
       </span>
       <br>
   
      <ion-label style="margin-left: 6%;">User Type</ion-label>
      <ion-item class="ion-margin">
        <ion-select aria-label="fruit" formControlName="UserType" placeholder="Select User Type" autocomplete="off">
          <ion-select-option value="">--Select--</ion-select-option>
          <ion-select-option value="Manufacturer">Manufacturer</ion-select-option>
          <ion-select-option value="Dealer">Dealer</ion-select-option>
          <!-- <ion-select-option value="admin">Admin</ion-select-option> -->
          </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.UserType.errors?.required" style="color: red;">
            UserType is required.
           </span>
           <br>
         
          </form>
          </ion-list>
          <ion-button  style="height: 50px;   border-radius: 10px; margin-top:20px;" expand="full" strong="true" type="submit" (click)="signupSubmit()" >
            Register
       
           </ion-button>

          </ion-content>
         
          
     
  
  
  
  
   
  
  
  
   
    
  
   
       
