
<ion-header>
  <ion-toolbar> 
    <ion-icon name="arrow-back-sharp" routerLink="/login" style="font-size: 30px;"></ion-icon>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
   
  <ion-list lines="none">

    <!-- <img    stylehjmny="max-width: 60%;  margin-left: 20%;" 
    src="https://media.istockphoto.com/id/502910284/photo/natural-stone-tiles-marble-granite-samples-stack-clipping-path.jpg?s=612x612&w=0&k=20&c=6-doPB7xCKGqQ6y1EVrJXcrw8ziMw8xmec1GlVxLbUE=">
   -->
   <h1 style="text-align: center;"><b>Register</b></h1>
    <form #userPost="ngForm" [formGroup]="SignupForm" >

      <ion-label style="margin-left: 6%;">First Name</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap  placeholder="Enter First Name"  type="text" clearInput="true" formControlName="Firstname"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Firstname.errors?.required" style="color: red;">
        Firstname  is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Firstname.errors?.pattern" style="color: red;">
        Only alphabets allowed.
      </span>
       <br>
      <ion-label style="margin-left: 6%;">Last Name</ion-label>
      <ion-item class="ion-margin">    
        <ion-input  appFirstCap  placeholder="Enter Last Name" type="text" clearInput="true" formControlName="Lastname"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.required" style="color: red;">
        Lastname is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.pattern" style="color: red;">
        Only alphabets allowed.
      </span>
       <br>

      <ion-label style="margin-left: 6%;">Phone Number</ion-label>
    <ion-item class="ion-margin">  
      <ion-input  appFirstCap placeholder="Enter Phone Number" type="text" clearInput="true" formControlName="mobile"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required" style="color: red;">
      PhoneNumber is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Lastname.errors?.pattern" style="color: red;">
    Please, Enter 10 digit mobile number.
    </span>
     <br>

      <ion-label style="margin-left: 6%;">Email Address</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap placeholder="Enter Email Address" type="text" clearInput="true" formControlName="Email"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Email.errors?.required" style="color: red;">
       Email is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Email.errors?.email" style="color: red;">
       Please, provide a valid email address.
      </span>
     <br>
   
      <ion-label style="margin-left: 6%;">Password</ion-label>
      <ion-item class="ion-margin">
        <ion-input appCapitalize placeholder="Enter Password" [type]="passwordType"  formControlName="Password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
     
    </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password.errors?.required" style="color: red;">
        Password is required.
       </span>
       <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password.errors?.minLength" style="color: red;">
        Password should be min 6.
       </span> -->
     <br>

    <ion-label style="margin-left: 6%;">City</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter City" type="text" clearInput="true" formControlName="City"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.City.errors?.required" style="color: red;">
      City is required.
     </span>   
    <br>

    <ion-label style="margin-left: 6%;">Street</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter Address" type="text" clearInput="true" formControlName="Street"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Street.errors?.required" style="color: red;">
      Street is required.
     </span>
     <br>

    <ion-label style="margin-left: 6%;">Pincode</ion-label>
    <ion-item class="ion-margin">
  
      <ion-input appFirstCap placeholder="Enter pincode"   type="text" clearInput="true" (ngModelChange)="getCityState()"   [(ngModel)]="Pincode" formControlName="Pincode"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pincode.errors?.required" style="color: red;">
      Pincode is required.
     </span>
     <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pincode.errors?.pattern" style="color: red;">
      Pincode should be 5 digits long.
     </span>
     <br>

    <ion-label style="margin-left: 6%;">Company</ion-label>
    <ion-item class="ion-margin">  
      <ion-input appFirstCap  placeholder="Enter Company Name" type="text" clearInput="true" formControlName="Company"></ion-input>
    </ion-item><span class="error ion-padding" *ngIf="isSubmitted && errorControl.Company.errors?.required" style="color: red;">
      Company is required.
     </span>
  
     <br>   
   
    <ion-label style="margin-left: 6%;">State</ion-label>
      <ion-item class="ion-margin">
        <ion-input aria-label="fruit" [(ngModel)]="CityState" formControlName="State" placeholder="Please Select your state" autocomplete="off"> </ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.State.errors?.required" style="color: red;">
        State is required.
       </span>
       <br>
   
      <ion-label style="margin-left: 6%;">User Type</ion-label>
      <ion-item class="ion-margin">
        <ion-select aria-label="fruit" formControlName="UserType" placeholder="Select User Type" autocomplete="off">
          <ion-select-option value="">--Select--</ion-select-option>
          <ion-select-option value="Manufacturer">Manufacturer</ion-select-option>
          <ion-select-option value="Dealer">Dealer</ion-select-option>
          <!-- <ion-select-option value="admin">Admin</ion-select-option> -->
          </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.UserType.errors?.required" style="color: red;">
            UserType is required.
           </span>
          
          </form>
        </ion-list>
          <div class="center">
            <button  style="height: 50px;  font-size: 20px; border-radius:20px; margin-top:15px; width: 15em;background-color: #697184; color: white;margin-bottom: 15px;" type="submit"  (click)="signupSubmit()">
              Register
             </button>   
          </div>           
       
</ion-content>
         
          
     
  
          
  
  
   
  
  
  
   
    
  
   
       
